<script setup>
import { ref } from "vue";
import { transfer, connect } from "@/core/core";
const senderMnemonic = ref("");
const amount = ref("");
const toAddress = ref("");

const CreateTransfer = () => {
  connect()
    .then((api) => {
      transfer(senderMnemonic.value, amount.value, toAddress.value, api);
    })
    .catch((err) => {
      console.error(err);
    });
};
</script>

<template>
  <h1>Add transfer</h1>
  <form>
    <label for="senderMnemonic" class="form-label">Sender mnemonic</label>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        id="senderMnemonic"
        v-model="senderMnemonic"
      />
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Amount WND</label>
      <input type="number" class="form-control" id="amount" v-model="amount" />
    </div>
    <div class="mb-3">
      <label for="toAddress" class="form-label">To Address</label>
      <input
        type="text"
        class="form-control"
        id="toAddress"
        v-model="toAddress"
      />
    </div>
    <button
      class="btn btn btn-success mb-5"
      type="button"
      @click="CreateTransfer"
    >
      Send
    </button>
  </form>
</template>