<script setup>
import { ref } from "vue";
import {
  createAccount,
  getMnemonic,
  connect,
  isValidAddress,
} from "@/core/core";

const userMnemonic = ref("");
const walletMnemonic = ref("");
const address = ref("");

const createWallet = async () => {
  connect()
    .then((api) => {
      const { account, mnemonic } = createAccount(userMnemonic.value);
      address.value = account.address;

      walletMnemonic.value = mnemonic;
      if (isValidAddress(address.value)) {
        console.log("true");
      } else {
        console.log("false");
      }
    })
    .catch((err) => {
      console.error(err);
    });
};

const generateMnemonic = () => {
  userMnemonic.value = getMnemonic();
};
</script>

<template>
  <h1>Create wallet</h1>
  <form>
    <label for="userMnemonic" class="form-label">Mnemonic</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        id="userMnemonic"
        v-model="userMnemonic"
      />
      <button
        class="btn btn-outline-success"
        type="button"
        id="basic-addon2"
        @click="generateMnemonic"
      >
        Generate
      </button>
    </div>
    <button
      class="btn btn btn-success mb-5"
      type="button"
      @click="createWallet"
    >
      Create wallet
    </button>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        readonly
        v-model="address"
      />
    </div>
    <div class="mb-3">
      <label for="mnemonic" class="form-label">Mnemonic</label>
      <input
        type="text"
        class="form-control"
        id="mnemonic"
        readonly
        v-model="walletMnemonic"
      />
    </div>
  </form>
</template>
